<h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |books| %>
      <tr>
        <td><%= books.title %></td>
        <td><%= books.body %></td>
        <td>
          <span>
            <%= link_to 'Show', "/books/#{books.id}" %>
          </span>
          <span>
            <%= link_to 'Edit', "/books/:id" %>
          </span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>


<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <div>
    <label>Title</label>
      <%= f.text_field :title %>
  </div>
  <div>
    <label>Body</label>
      <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>